asgiref==3.8.1
astroid==3.3.5
beautifulsoup4==4.12.3
colorama==0.4.6
dill==0.3.9
dj-database-url==2.3.0
Django==4.2.16
django-bootstrap-v5==1.0.11
django-core==1.4.1
django-cors-headers==4.6.0
django-filter==24.3
django-heroku==0.3.1
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
gunicorn==23.0.0
iniconfig==2.0.0
isort==5.13.2
mccabe==0.7.0
packaging==24.2
platformdirs==4.3.6
pluggy==1.5.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
pyenchant==3.2.2
PyJWT==2.10.1
pylint==3.3.1
pytest==8.3.4
pytest-django==4.9.0
soupsieve==2.6
sqlparse==0.5.1
tomli==2.0.2
tomlkit==0.13.2
typing_extensions==4.12.2
tzdata==2024.2
whitenoise==6.8.2