/* this code removes the annoying white boarder around the website*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #4285f4;
  --secondary-color: #666;
  --background-color: #f0f0f0;
  --text-color: #333;
}